/* Fixed nav */

/* .fixed {
    border-top: 1.5px solid #62e6f3;
} */


/* Main positions */

main .flex {
    padding: 1.6em 10vw;
}

.menu-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-container .menu-item {
  display: inline-block;
  width: 49.5%;
  box-sizing: border-box;
}

.menu-container .menu-item:nth-child(odd) {
  padding-right: 30px;
}

.menu-container .menu-item:nth-child(even) {
  padding-left: 30px;
}

.menu-container h1 {
  cursor: pointer;
}



/* Main styles */


main p, main li {
    font-size: 19px;
    line-height: 1.58;
}

main h2 {
    font-size: 2em;
}

main h3 {
    font-size: 1.3em;
    letter-spacing: .013rem;
}

main h4 {
    font-size: 1.6em;
}

main h5 {
    font-size: 1.2em;
}

main blockquote p {
    font-size: 1.6em;
    letter-spacing: 0.013rem;
    font-weight: 300;
}

main ul, main ol {
    padding-left: 3.2em;
}


/* Footer positions */
