<script src="/scripts/transition-nav.js" defer></script>

<footer>
    <div class="logo-wrapper">
      <svg class="logo"
        alt="Hipopla logo"
        onclick="location.href = 'index.html';"
        baseProfile="full"
        viewbox="0 0 160 90 "
        preserveAspectRatio="xMinYMin meet"
        xmlns="http://www.w3.org/2000/svg">

        <defs>
          <style type="text/css">
            .hipopla {
              font-family: 'Amatic SC';
              font-weight: 700;
              font-size: 50px;
              fill: #62e6f3;
            }

            .yolk {
              fill: #f6a932;
            }
          </style>
        </defs>

        <g>
          <text class="hipopla" x="5" y="45">HIP</text>
          <text class="hipopla" x="90" y="45">PLA</text>
        </g>

        <g transform="translate(45 5) scale(1.05)">

          <!-- <rect x="0" y="0" width="44.6" height="42.2" stroke-width="1" stroke="#000" fill="none"/> -->

          <path fill="none" stroke="#f6a932" stroke-width="1.5" stroke-linecap="round"
            d="M 22.5 5
            q -15 -4.5 -14.5 6
            q 0 3 -2 6
            q -4 6.5 1 14
            q 1 1.5 2 2
            q 3.5 1.5 6 3
            q 6 4 16 1
            q 17 -6 2 -25
            q -1.75 -2 -2.5 -4
            q -1 -2.5 -5 -2.5
            q -2 -.2 -2.75 -.4
            "/>

          <path class="yolk" stroke-width="0" stroke-linecap="round" fill-rule="evenodd"
            d="M 19 10.5
            a 6.75 6.75 0 1 1 -.001 0
            m 0.2 1.25
            a 5.5 5.5 0 0 0 -5.168 3.619
            a 1.8 1.8 0 1 0 3.491 0.616
            q .2 -2.5 2.8 -2.2
            a .95 .95 0 0 0 .001 -1.9
            "/>
        </g>
      </svg>

    </div>

    <div class="menu-wrapper">
        <ul class="menu">
          <li>NAVIGACIÓN</li>
          <li><a href="/">Inicio</a></li>
          <li><a onclick="smoothScroll('#nosotros-anchor')">Nosotros</a></li>
          <li><a onclick="smoothScroll('#menu-anchor')">Menú</a></li>
          <!-- <li><a href="/blog/">Blog</a></li>
          <li><a href="/contacto/">Contacto</a></li> -->
        </ul>
    </div>

    <div class="form-wrapper">
        <form action="https://getsimpleform.com/messages?form_api_token=c826bf93cc0f701979110234068b770a" method="post">
          <input type='hidden' name='redirect_to' value='https://hipopla.com/email/gracias.html' />
          <input type="tel" name="unsubscribe_me" value="" tabindex="-1" autocomplete="off" />
          <input type="email" name="email" value="" placeholder="Email" aria-label="email" required /><button class="button" type="submit" name="submit-email">Subscribe to newsletter</button>
        </form>
    </div>

    <p id="legal"><a href="/privacidad/" style="text-decoration: underline;">Privacidad</a><br><br>&copy; 2017 Hipopla Resto

    <!-- <br><a href="https://github.com/alexvipond/hipopla#hipopla" target="_blank" rel="noopener"></p> -->

    <!-- <img src="/images/GitHub-Mark-Light-32px.png" alt="GitHub icon" style="height: 15px; vertical-align: middle;"> View on Github</a> -->

    <script defer>
        let css = [
            {'name': 'normalize', 'media': 'all'},
            {'name': 'deferred', 'media': 'all'},
            {'name': '600', 'media': '(min-width: 600px)'},
            {'name': '900', 'media': '(min-width: 900px)'}
        ],description = document.querySelector('meta[name="description"]');
        css.forEach(function(e,i,a) {
            var e = document.createElement('link');
            e.rel = 'stylesheet';
            e.href = '/css/' + a[i].name + '.css';
            e.type = 'text/css';
            e.media = a[i].media;
            description.parentNode.insertBefore(e, description);
        })
    </script>
</footer>
