<style>
  .landing-page {
    height: 100vh;
  }

    .landing-page #gist-wrapper {
      text-align: center;
      height: 100%;
    }

      #gist .hipopla-resto {
        display: block;
        text-align: center;
      }

      #gist .bienvenidos {
        display: block;
        color: #e9e9e9;
        font-family: 'Amatic SC';
        font-size: 46px;
        margin-bottom: 1em;
        letter-spacing: 0.08em;
        font-weight: 400;
      }

  @media screen and (min-width: 600px) {
    .landing-page #gist-wrapper {
      padding: 0 10vw;
    }

    #gist .bienvenidos {
      font-size: 53px;
      letter-spacing: .1em;
      margin-bottom: .7em;
    }

    #gist .hipopla-resto .logo {
      max-width: 565px;
    }
  }

  @media screen and (min-width: 900px) {

  }

  .pseudo-landing-page {
    height: 100vh;
  }

  @media screen and (max-height: 550px) {
    .landing-page {
      height: 550px;
    }

    .pseudo-landing-page {
      height: 550px;
    }
  }
</style>
