<style>
#gist .logo .flicker {
  animation: flicker 7s linear infinite;
}

#gist .logo .flicker1 {
  animation-delay: 0s;
}

#gist .logo .flicker2 {
  animation-delay: 2s;
}

#gist .logo .flicker3 {
  animation-delay: 2.5s;
}

#gist .logo .flicker4 {
  animation-delay: 4s;
}

#gist .logo .flicker5 {
  animation-delay: 2.75s;
}

#gist .logo .flicker6 {
  animation-delay: 1s;
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: .9;
  }

  6% {
    opacity: .82;
  }

  8% {
    opacity: .90;
  }

  10% {
    opacity: .82;
  }

  11% {
    opacity: .922;
  }

  12% {
    opacity: .87;
  }

  14% {
    opacity: .95;
  }

  16% {
    opacity: .98;
  }

  17% {
    opacity: .9;
  }

  19% {
    opacity: .93;
  }

  20% {
    opacity: .99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: .91;
  }

  28% {
    opacity: .98;
  }

  37% {
    opacity: .88;
  }

  38% {
    opacity: .2;
  }

  39% {
    opacity: .90;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: .97;
  }

  46% {
    opacity: .94;
  }

  56% {
    opacity: .85;
  }

  58% {
    opacity: .82;
  }

  60% {
    opacity: .99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: .9;
  }

  72% {
    opacity: .95;
  }

  93% {
    opacity: .93;
  }

  95% {
    opacity: .95;
  }

  97% {
    opacity: .93;
  }

  to {
    opacity: 1;
  }
}
</style>
