<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      document.addEventListener('DOMContentLoaded', function(){});
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58906424-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58906424-3');
    </script> -->
    <!-- End Google Analytics -->

    <title>Hipopla Resto</title>

    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="imapge/png" href="/media/favicon.png">

    <noscript>
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/deferred.css">
      <link rel="stylesheet" href="/css/600.css" media="(min-width: 600px)">
      <link rel="stylesheet" href="/css/900.css" media="(min-width: 900px)">
    </noscript>

    <meta name="description" content="Preparando los platillos más deliciosos!">
    <meta name="keywords" content="hipopla, resto, San Pedro Sula, Honduras, restaurante, Colónia Los Alamos, cena, bebidas">
    <meta name="author" content="Alex Vipond">
  </head>

  <body>
    {% include navCSS.html %}
    {% include nav.html %}
    {% include emailCSS.html %}
    {% include headerCSS.html %}
    {% include landingPageCSS.html %}
    {% include neonCSS.html %}

    <header class="landing-page">
      <style>
        #bg-img {
          background-image: url(/media/i-like-food.svg);
           background-color: #121212;
           background-repeat: repeat;
        }
      </style>
      <div id="bg-img" class="bg-img"></div>

      <div id="gist-wrapper">
        <div id="gist">
          <div class="bienvenidos-hipopla-resto">
            <span class="bienvenidos">Bienvenidos a</span><br>
            <svg class="logo" baseProfile="full"
              viewBox="0 0 145 74"
              preserveAspectRatio="xMidYMin meet"
              xmlns="http://www.w3.org/2000/svg">

              <defs>
                <style type="text/css">
                  @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&amp;text=HipolaRestBnvds');

                  .hipopla,
                  .resto {
                    font-family: 'Amatic SC';
                  }

                  .hipopla {
                    font-size: 50px;
                    fill: #62e6f3;
                    letter-spacing: .08em;
                  }

                  .resto {
                    font-size: 24px;
                  }

                  .yolk,
                  .resto {
                    fill: #f6a932;
                  }
                </style>

                <filter id="neon">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="2.9" />
                </filter>
              </defs>

              <g filter="url(#neon)">
                <text class="hipopla" x="5" y="45"><tspan class="flicker flicker6">H</tspan><tspan class="flicker flicker1">i</tspan>p</text>
                <text class="hipopla" x="91" y="45"><tspan class="flicker flicker2">p</tspan>l<tspan class="flicker flicker5">a</tspan></text>
                <text class="resto" x="104" y="68">Re<tspan class="flicker flicker3">st</tspan>o</text>

                <g class="flicker flicker4 huevo" transform="translate(53.5 13) scale(.85)">
                  <path fill="none" stroke="#f6a932" stroke-width="1.5" stroke-linecap="round"
                    d="M 22.5 5
                    q -15 -4.5 -14.5 6
                    q 0 3 -2 6
                    q -4 6.5 1 14
                    q 1 1.5 2 2
                    q 3.5 1.5 6 3
                    q 6 4 16 1
                    q 17 -6 2 -25
                    q -1.75 -2 -2.5 -4
                    q -1 -2.5 -5 -2.5
                    q -2 -.2 -2.75 -.4
                    "/>

                  <path class="yolk" stroke-width="0" stroke-linecap="round" fill-rule="evenodd"
                    d="M 19 10.5
                    a 6.75 6.75 0 1 1 -.001 0
                    m 0.2 1.25
                    a 5.5 5.5 0 0 0 -5.168 3.619
                    a 1.8 1.8 0 1 0 3.491 0.616
                    q .2 -2.5 2.8 -2.2
                    a .95 .95 0 0 0 .001 -1.9
                    "/>
                </g>
              </g>

              <g>
                <text class="hipopla" x="5" y="45"><tspan class="flicker flicker6">H</tspan><tspan class="flicker flicker1">i</tspan>p</text>
                <text class="hipopla" x="91" y="45"><tspan class="flicker flicker2">p</tspan>l<tspan class="flicker flicker5">a</tspan></text>
                <text class="resto" x="104" y="68">Re<tspan class="flicker flicker3">st</tspan>o</text>
              </g>

              <g class="flicker flicker4 huevo" transform="translate(53.5 13) scale(.85)">
                <path fill="none" stroke="#f6a932" stroke-width="1.5" stroke-linecap="round"
                  d="M 22.5 5
                  q -15 -4.5 -14.5 6
                  q 0 3 -2 6
                  q -4 6.5 1 14
                  q 1 1.5 2 2
                  q 3.5 1.5 6 3
                  q 6 4 16 1
                  q 17 -6 2 -25
                  q -1.75 -2 -2.5 -4
                  q -1 -2.5 -5 -2.5
                  q -2 -.2 -2.75 -.4
                  "/>

                <path class="yolk" stroke-width="0" stroke-linecap="round" fill-rule="evenodd"
                  d="M 19 10.5
                  a 6.75 6.75 0 1 1 -.001 0
                  m 0.2 1.25
                  a 5.5 5.5 0 0 0 -5.168 3.619
                  a 1.8 1.8 0 1 0 3.491 0.616
                  q .2 -2.5 2.8 -2.2
                  a .95 .95 0 0 0 .001 -1.9
                  "/>
              </g>
            </svg>
          </div>


          <div class="scroll-down-wrapper">
            <a onclick="scrollPastLandingPage()"><svg class="scroll-down"
              baseProfile="tiny"
              viewBox="0 0 24 24"
              preserveAspectRatio="xMinYMin meet">

              <path class="heroicon-ui" d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"/>
              <path class="heroicon-ui"
                d="M12 22
                a10 10 0 1 1 0-20 10 10 0 0 1 0 20z
                m0-2
                a8 8 0 1 0 0-16 8 8 0 0 0 0 16z
                "/>
            </svg></a>
          </div>
        </div>
      </div>

    </header>

    <script src="/scripts/scroll-past-landing-page.js"></script>

    <div class="pseudo-landing-page"></div>

    {% include blogPostCSS.html %}
    {% include indexCSS.html %}

    <main>
        <article>
          <section id="nosotros-anchor" class="nosotros-container">
            {% capture nosotros %}{% include_relative hipopla-prose/nosotros.md %}{% endcapture %}
            {{ nosotros | markdownify }}
          </section>
          <!-- <script src="/scripts/build-nosotros.js"></script> -->

          <section id="menu-anchor" class="blog-post menu-container">
            <span class="menu-title">Menú</span>
            {% capture menu %}{% include_relative hipopla-prose/menu.md %}{% endcapture %}
            {{ menu | markdownify }}
          </section>
          <script src="/scripts/build-food-menu.js"></script>

        </article>
    </main>

    <script src="scripts/smooth-scroll.js" defer></script>

    {% include footer.html %}
  </body>
</html>
